.frmLogin{
    height: 500px;
    background-color: #E5E5E5;
}
.Login{
    text-align: center;
    font-size: 17px;
    margin: auto;
}
.forget{
    margin:auto;
}
.btn-submit{
    text-align: left;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.frmGrouping{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.daftar{
    text-align: center;
}

.btnText{
    padding-left: -10px;
    margin-left:-25px;
    margin-right: 25px;
}

.inputUsername{
    background-color: #CACACA;
}
.inputPassword{
    background-color: #CACACA;
}

.logo{
    height: 35px;
    width: 50px;
    margin-top: -450px;
    
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* .logo{
        height: 35px;
        width: 50px;
        margin-top: 30px;
        
    } */
    .forget{
        font-size: 10px;
        margin-left: 255px;
    }
    .Login{
        padding-top: 50px;
    }
    .btn-submit{
        text-align: left;
        margin-left: 170px;
    }
    .btnText{
        padding-left: 50px;
        margin-left:20px;
        margin-right: 55px;
    }
    .frmLogin{
        height: 450px;
        background-color: #E5E5E5;
    }
    
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
    .logo{
        height: 35px;
        width: 50px;
        margin-top: -390px;
        
    }
    .forget{
        font-size: 10px;
        margin-left: 10px;
    }
    .Login{
        padding-top: 50px;
    }
    .btn-submit{
        text-align: left;
        margin-left: 30px;
    }
    .btnText{
        padding-left: 50px;
        margin-left:10px;
        margin-right:55px;
    }
    .frmLogin{
        height: 450px;
        background-color: #E5E5E5;
    }
    .inputUsername{
        width: 170px;
        height: 40px;
        background-color: #CACACA;
    }
    .inputPassword{
        width: 170px;
        height: 40px;
    }
    .frmGrouping{
        padding-top: -50px;
        margin-top: 5px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .Login{
        text-align: center;
        font-size: 20px;
        padding-top: 50px;
    }
    .forget{
        font-size: 12px;
        margin-left: 55px;
    }
    .frmGrouping{
        padding-top: -10px;
    }
    .btn-submit{
        text-align: left;
        margin-left: 60px;
    }
    .btnText{
        padding-left: 50px;
        margin-left:15px;
        margin-right:55px;
    }
   
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .forget{
        margin-left: 230px;
    }
    .btn-submit{
        margin-left: 170px;
        padding-left: 100px;
        padding-right: 50px;
        text-align: left;
    }
    .Login{
        text-align: center;
        font-size: 20px;
        margin-top: 50px;
        padding-top: 50px;
    }
    .frmLogin{
        margin-top: -50px;
    }
 }